profiles {

    singularity {
        process.executor = 'local'
    
process.container = 'dpiscia/spark_submit_hpc:0.2'

process { 
  withName: importVCF { containerOptions = ' -v /Users/dpiscia/nextflow/spark_config/:/apps/pipeline/ -v /Users/dpiscia/nextflow/vep:/apps/.vep' }
}
docker {
       runOptions= "--net=host"
 
    enabled = true
    temp = 'auto'
 
}
}
}
